@use './node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
    overflow-x: hidden;
}

header.hero {
    background-image: url("assets/välkommen.jpeg");
    background-size: cover;
    background-position: bottom;
}

.stylish {
    font-family: 'Dancing Script', cursive;
}

.fade-in {
    transition: all 1s;
    transform: translateX(100px);
    opacity: 0;
}

.active {
    transform: translateX(0px);
    opacity: 1;
}
